/* @import 'https://fonts.googleapis.com/css?family=Muli'; */

html, body, #wrapper {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

/* FONTS */
body, a {
  background-color: #C9E4CA;
  color: #232221;
  font-family: "apertura", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  font-style: normal;
}

a { text-decoration: none; }

/* ALIGNMENT */
#wrapper td {
  vertical-align: middle;
  text-align: center;
}

/* IMAGE */
img { height: 200px; }
.blink { animation: blink 3s linear infinite; }
@keyframes blink { 50% { opacity: 75%; } }